<div class="modal fade" id="Modal-ConfirmSelling-{{ product.id }}" 
     tabindex="-1" aria-labelledby="exampleModalLabel" 
     aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">
            {{ owned_product.product_name }}
          </h5>
          <button type="button" class="btn-close" 
                  data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">  
          <form methods="POST">
            {{ selling_form.hidden_tag() }}
            <h4>Are you sure you want to sell {{ owned_product.product_name }} for {{ owned_product.price }} NGN?</h4>
            <br>
            <h6 class="text-center">By clicking this, you will place the product in the Market.</h6>
            <br>
            <input id="sold_product" name="sold_product" type="hidden" value="{{ owned_product.product_name }}">
            {{ selling_form.submit(class="btn btn-outline-danger btn-block")}}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>